{% load i18n core_tags %}

<footer>
    <div class="container">
        {% render_lang_template 'core/footer_text' %}
    </div>
</footer>

<div class="container" style="margin-top: 1em">
	<div class="row">
		<div class="col-sm-12 small text-uppercase">
		<p>
        {% blocktrans %}
        Except where otherwise noted, content on this site is licensed under 
        a <a href="https://creativecommons.org/licenses/by/4.0/">
        Creative Commons Attribution 4.0 International</a> license.
        {% endblocktrans %}
        </p>
		</div>
	</div>
</div>
