{% load i18n %}
{% load core_tags %}
{% load accounts_tags %}
{% load rules %}
{% load static %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'core/img/gro-plan-large-white.svg' %}" class="visible-md visible-lg hidden-sm hidden-xs" alt="GRO logo">
                <img id="brand-image" src="{% static 'core/img/gro-plan-small-white.svg' %}" class="visible-sm visible-xs hidden-md hidden-lg gro-small" alt="GRO logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% back_to_project_link %}

                {% test_rule 'management.can_view_management' request.user request.site as can_view_management %}

                {% if can_view_management %}
                <li>
                    <a href="{% url 'management' %}">{% trans 'Management' %}</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">
                        <span id="pending"></span>
                    </p>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Language' %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% i18n_switcher %}
                    </ul>
                </li>

                {% if user.is_authenticated %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'My account' %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        {% if settings.PROFILE_UPDATE %}
                        <li>
                            <a href="{% url 'profile_update' %}">
                                {% trans 'Update profile' %}
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.ACCOUNT %}
                            {% include 'core/base_navigation_account.html' %}
                        {% endif %}

                        {% if settings.SOCIALACCOUNT %}
                            {% include 'core/base_navigation_socialaccount.html' %}
                        {% endif %}

                        {% if settings.ACCOUNT_ALLOW_USER_TOKEN %}
                        <li>
                            <a href="{% url 'account_token' %}">
                                {% trans 'API token' %}
                            </a>
                        </li>
                        {% endif %}

                        {% if settings.PROFILE_DELETE %}
                        <li>
                            <a href="{% url 'profile_remove' %}">
                                {% trans 'Delete profile' %}
                            </a>
                        </li>
                        {% endif %}

                        <li>
                            <a href="{% url 'reset_overlays' %}">
                                {% trans 'Reset tutorial overlays' %}
                            </a>
                        </li>

                        <li role="separator" class="divider"></li>

                        {% if settings.ACCOUNT or settings.SOCIALACCOUNT %}
                        <li>
                            {% include 'account/logout_form.html' %}
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ settings.LOGOUT_URL }}">
                                {% trans 'Logout' %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>

                {% else %}

                <li>
                    <a href="{{ settings.LOGIN_URL }}">
                        {% trans 'Login' %}
                    </a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
