{% load i18n core_tags %}
{% load static %}

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <h3>{% trans "About" %}</h3>
        {% url 'about' as about_url %}
        {% if about_url %}
            <a href="{{ about_url }}">{% trans 'About RDMO' %}</a><br>
        {% endif %}
        <a target="_blank" rel="noopener" href="https://www.gwdg.de/about-us/catalog/terms-and-conditions">{% trans "Terms and Conditions" %}</a><br>
        <a target="_blank" rel="noopener" href="https://www.gwdg.de/privacy-notice">{% trans "Privacy" %}</a><br>
        <a target="_blank" rel="noopener" href="https://www.eresearch.uni-goettingen.de/imprint/">{% trans "Imprint" %}</a><br>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>{% trans "Contact" %}</h3>
        <address>
            <strong>{% trans "Support Team: Göttingen eResearch Alliance" %}</strong><br /><a href="mailto:info@eresearch.uni-goettingen.de ">info@eresearch.uni-goettingen.de </a>
        </address>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h3>Göttingen Research Online</h3>
        <div>Göttingen Research Online bündelt verschiedene Dienstleistungen für die Göttinger Forschenden:</div><br>
            <a href="https://data.gro.uni-goettingen.de">{% trans "GRO.data (research data repository)" %}</a>
            <br>
            <a href="https://plan.goettingen-research-online.de">{% trans "GRO.plan (data management planning)" %}</a>
            <a href="https://publications.goettingen-research-online.de">{% trans "GRO.publications (publication data repository)" %}</a>
    </div>
</div>
<div class="row footer__logo-row">
    <div class="col-xs-12 col-sm-3 footer__logos">
        <a href="https://www.uni-goettingen.de/">
            <img src="{% static 'core/img/logo_uni_goe_white.svg' %}" alt="Logo Uni Göttingen">
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 footer__logos">
        <a href="https://www.goettingen-campus.de//">
            <img src="{% static 'core/img/logo_goecampus.svg' %}" alt="Logo Campus Göttingen">
        </a>
        </div>

        <div class="col-xs-12 col-sm-3 footer__logos">
        <a href="https://www.sub.uni-goettingen.de/">
            <img src="{% static 'core/img/logo_sub_goe_left_white.svg' %}" alt="Logo SUB Göttingen">
        </a>
        </div>
        <div class="col-xs-12 col-sm-3 footer__logos">
        <a href="http://www.eresearch.uni-goettingen.de/">
            <img src="{% static 'core/img/logo_era_white.svg' %}" alt="Logo eResearch Alliance">
        </a>
    </div>
</div>
