{% extends 'core/base.html' %}
{% load i18n compress static core_tags %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/header.scss' %}" />
{% endcompress %}

{% compress js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'core/js/header.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1><img src="{% static 'core/img/gro-plan-large-blue.svg' %}" class="home__logo" alt="GRO Logo"></h1>
		</div>
	</div>
</div>

<div class="container page home__features">
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <figure>
                <img alt="Research Data" src="{% static 'core/img/rdm_graph2.jpg' %}">
                <figcaption><small>Image <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-nc/2.0/">by</a> <a target="_blank" rel="noopener" href="https://www.flickr.com/photos/jannekestaaks/albums/72157645055854776">janneke staaks</a></small></figcaption>
            </figure>
        </div>

        <div class="col-xs-12 col-sm-8">
		{% render_lang_template "core/home_text" %}
        </div>
    </div>
</div>

{% endblock %}
