<h2>Welcome to GRO.plan.</h2>

<p>Describe, schedule and maintain your Research Data Management at the Göttingen Campus.
  You can choose from different question sets tailored to funders' recommendations that
  guide you in creating a Data Management Plan (DMP) for your research project or group
  and adapt the specifications over time. Use import and export functionalities
  to maintain several plans, re-use elements and track changes.
</p>

<p>This service is based on the free software provided by the RDMO project.
   For more information visit <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.</p>
