<h2>Willkommen bei GRO.plan.</h2>

<p>Planen und führen Sie mit GRO.plan Ihr Forschungsdatenmanagement strukturiert durch.
  Der Service erlaubt es Ihnen, alle relevanten Planungsinformationen zu erfassen und alle
  Datenmanagementaufgaben über den gesamten Datenlebenszyklus in einem (anpassbaren) Dokument
  – dem Datenmanagementplan – zu verwalten.</p>

<p>Erstellen Sie neue oder passen Sie vorhandene Datenmanagementpläne an.
  Wählen Sie dabei aus verschiedenen, auf die Empfehlungen von Förderern
  zugeschnittenen unterstützenden Fragensets. Sie können
  Import- und Export-Funktionen verwenden um mehrere Pläne zu verwalten,
  Elemente wiederzuverwenden und Änderungen nachzuverfolgen.</p>

<p>Dieser Service basiert auf der vom RDMO-Projekt zur Verfügung gestellten, freien Software.
  Für weitere Informationen besuchen Sie
  <a href="https://rdmorganiser.github.io">rdmorganiser.github.io</a>.</p>
