@import 'core/css/variables';

/* footer layout */



/* footer style */

footer {
    color: $footer-color;
    background-color: $footer-background-color;
    padding-bottom: 32px;

    a,
    a:visited,
    a:hover {
        color: $footer-link-color;
    }
    h4, h3 {
        color: $footer-link-color;
    }
    p {
        text-align: left;
    }
    img {
        display: block;
    }
}

/* gro theme */
.footer__logo-row {
    display: flex;
    align-items: center;
}

@media (max-width:768px){
  .footer__logos {
    padding-top:2rem;
    text-align:center;
  }
}

.footer__logos img {
  max-width:100%;
  padding-top:16px;
}

@media (max-width:480px){
  .footer__logos img {
    max-width:75%;
    width:75%;
  }
}

@media (min-width:768px){
  .footer__logos img {
    max-width:100%;
    width:100%;
  }
}

@media (min-width:768px){
  .footer__logo-row {
    display:flex;
    align-items:center
  }
}

