/* colors */

$text-color: #000;
$variant-color: #666;
$background-color: #fefefe;

$headline-color: #000;
$headline-background-color: transparent;

$link-color: #1a3771;
$link-color-visited: #1a3771;
$link-color-hover: #1a3771;
$link-color-focus: #1a3771;

$navigation-color: #fff;
$navigation-background-color: #1a3771;
$navigation-hover-color: #fff;
$navigation-hover-background-color: rgba(255, 255, 255, 0.1);
$navigation-dropdown-color: #333;
$navigation-dropdown-hover-color: #262626;
$navigation-dropdown-hover-background-color: #f5f5f5;

$footer-color: #fff;
$footer-link-color: #fff;
$footer-background-color: #1a3771;

$danger-color: #a94442;
$success-color: #5cb85c;
$modal-border-color: #e5e5e5;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;


/* gro-theme font-changes */
$font-size-base: 16px;
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-family-head: DroidSans, sans;

